<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CardexLogTransformer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CardexLogTransformer.Properties.Settings>
            <setting name="DataStore" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="SqlUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SqlPassword" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>AmadeLaziz</value>
            </setting>
        </CardexLogTransformer.Properties.Settings>
    </applicationSettings>
</configuration>